target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Doc related ignores
src/docs/asciidoc/changelog.adoc
src/docs/asciidoc/apidoc/overview.adoc
src/docs/asciidoc/apidoc/paths.adoc
src/docs/asciidoc/apidoc/definitions.adoc
src/docs/asciidoc/apidoc/generated-snippets/*